<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @movie, partial: "card", as: :movie %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "movies/movie_roles" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "movies/movie_actors" %>
  </div>
</div>
  <!-- Show Page Customization end -->
